streamlit
python-dotenv
langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.38
langchain-huggingface==0.0.3
langchain-text-splitters
faiss-cpu
huggingface-hub
sentence-transformers
pypdf